@charset "utf-8";

/* CSS Document*/
body {
	background-color: #1b2838;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
	font-family: 'Roboto', Verdana, Arial, sans-serif;
}

/* LOGO WEBSITE */
.container-logoweb {
	display: flex;
	justify-content: center;
}

.logo-website {
	width: 100px;
	height: 35px;
	margin: -23px;
	padding-bottom: 9px;
}

/* LOGO WEBSITE */

/* HAMBURGER NAVBAR */
.mobile-menu {
	background-color: #171a21;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
	padding: 15px;
	font-family: sans-serif;
	font-size: 22px;
}

.menu-toggle {
	display: flex;
	flex-direction: column;
	width: 26px;
	cursor: pointer;
	padding: 5px;
	margin-top: -37px;
	margin-left: -7px;
	outline: none;
}

.menu-icon {
	background-color: #c7d5e0;
	height: 4px;
	margin: 3px 0;
	border-radius: 2px;
}

.menu-content {
	height: 100vh;
	overflow-y: scroll;
	position: fixed;
	left: -250px;
	top: 0;
	width: 280px;
	height: 100%;
	background-color: #1b1b1b;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
	transition: left 0.3s ease;
	display: none;
	z-index: 999;
}

.menu-content::-webkit-scrollbar {
	height: 8px;
}

.menu-content::-webkit-scrollbar-thumb {
	background-color: #1b2838;
	border-radius: 3px;
}

.has-submenu {
	border-bottom: 0.3px solid #444;
}

.has-submenu:hover {
	background-color: #1b2838;
}

.menu-content ul {
	list-style: none;
	padding-left: 0;
}

.menu-content ul li {
	padding: 12px;
}

.menu-content ul li a {
	color: #c7d5e0;
	text-decoration: none;
}

.menu-content ul li.has-submenu>a {
	position: relative;
}

.menu-content ul li.has-submenu>a::after {
	content: "";
	position: absolute;
	right: 10px;
}

.submenu-toggle {
	display: block;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	user-select: none;
}

.submenu-toggle:focus,
.submenu-toggle:active {
	outline: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.submenu {
	display: none;
	font-size: 17px;
	margin-top: 7px;
}

.submenu li:hover {
	background: #297aa9;
	width: 100vw;
}

.menu-link {
	display: block;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	user-select: none;
}

.menu-link:focus,
.menu-link:active {
	outline: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Overlay untuk menutupi konten di bawah menu */
#overlay {
	display: none;
	/* Awalnya tidak terlihat */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Warna semi-transparan */
	z-index: 998;
	/* Di bawah menu tapi di atas konten lainnya */
}

/* HAMBURGER NAVBAR */

/* FOOTER */
.logo-footer {
	width: 90px;
	height: auto;
	margin-left: -5px;
}

.footer {
	margin: 20px;
	font-family: sans-serif;
	color: #eaeaea;
	font-size: 9px;
	width: 220px;
	margin-left: 10px;
}

/* FOOTER */

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

/* ABOUT */
.all-container {
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: #c7d5e0;
	margin-top: 40px;
	padding-bottom: 50px;
}

.yzddesign-container {
	text-align: center;
	padding: 20px;
	background-color: #171a21;
	border-radius: 10px;
	width: 70%;
	max-width: 500px;
}

.yzddesign-logo {
	width: 100px;
	height: 35px;
	margin-bottom: 10px;
}

h1 {
	margin: 0;
	font-size: 24px;
	color: white;
}

.yzddesign-description {
	font-size: 16px;
	margin: 10px 0 20px 0;
}

.app-button-container {
	position: relative;
}

.app-button {
	background-color: #2a475e;
	color: #c7d5e0;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	width: 100%;
}

.app-button:hover {
	background-color: #4a6580;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: #2a475e;
	margin-top: 5px;
	border-radius: 5px;
	width: 100%;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.dropdown-menu a {
	color: #c7d5e0;
	padding: 10px;
	display: block;
	text-decoration: none;
}

.dropdown-menu a:hover {
	background-color: #4a6580;
}

.yzddesign-support {
	font-size: 14px;
	margin-top: 20px;
}

.yzddesign-support a {
	color: #66c0f4;
	text-decoration: none;
}

.yzddesign-support a:hover {
	text-decoration: underline;
}

/* ABOUT */

/* ACCESS SHORT STORIE SECTION */
.access-shortstories-section {
	margin: 20px;
	text-align: center;
	margin-top: 80px;
}

.shortstories-thumbnails {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}

.shortstories-thumbnails img {
	width: 140px;
	margin: 5px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease;
}

.shortstories-thumbnails img:hover {
	transform: scale(1.05);
}

.access-text {
	color: white;
}

.access-text h2 {
	font-size: 24px;
	margin-bottom: 15px;
}

.access-text p {
	font-size: 16px;
	margin-bottom: 20px;
}

.browse-link {
	font-size: 18px;
	color: #66c0f4;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s ease;
}

.browse-link:hover {
	color: #549dc7;
}

/* ACCESS SHORT STORIE SECTION */



/* DESKTOP */
@media (min-width: 1025px) {

	/* HAMBURGER NAVBAR */
	.mobile-menu {
		font-size: 17px;
	}

	.menu-toggle {
		display: flex;
		flex-direction: column;
		width: 26px;
		cursor: pointer;
		padding: 5px;
		margin-top: -31px;
		margin-left: -7px;
	}

	.menu-content ul li {
		padding: 9px;
	}

	.submenu {
		font-size: 14px;
	}

	/* HAMBURGER NAVBAR */

	/* FOOTER */
	.logo-footer {
		width: 70px;
		height: auto;
	}

	.footer {
		font-size: 8px;
	}

	/* FOOTER */
}

@media only screen and (max-width: 926px) and (orientation: landscape) {
	.menu-content {
		height: 100vh;
		overflow-y: scroll;
	}

	.mobile-menu {
		overflow-y: hidden;
	}

	.menu-toggle {
		position: relative;
		top: 0;
		margin-top: -37px;
		margin-left: -7px;
	}

	.footer {
		margin-top: 30px;
	}
}