@charset "utf-8";

/* CSS Document*/
body {
    background-color: #1b2838;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Roboto', Verdana, Arial, sans-serif;
}

/* LOGO WEBSITE */
.container-logoweb {
    display: flex;
    justify-content: center;
}

.logo-website {
    width: 100px;
    height: 35px;
    margin: -23px;
    padding-bottom: 9px;
}

/* LOGO WEBSITE */

/* HAMBURGER NAVBAR */
.mobile-menu {
    background-color: #171a21;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
    padding: 15px;
    font-family: sans-serif;
    font-size: 22px;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    width: 26px;
    cursor: pointer;
    padding: 5px;
    margin-top: -37px;
    margin-left: -7px;
    outline: none;
}

.menu-icon {
    background-color: #c7d5e0;
    height: 4px;
    margin: 3px 0;
    border-radius: 2px;
}

.menu-content {
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    left: -250px;
    top: 0;
    width: 280px;
    height: 100%;
    background-color: #1b1b1b;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease;
    display: none;
    z-index: 999;
}

.menu-content::-webkit-scrollbar {
    height: 8px;
}

.menu-content::-webkit-scrollbar-thumb {
    background-color: #1b2838;
    border-radius: 3px;
}

.has-submenu {
    border-bottom: 0.3px solid #444;
}

.has-submenu:hover {
    background-color: #1b2838;
}

.menu-content ul {
    list-style: none;
    padding-left: 0;
}

.menu-content ul li {
    padding: 12px;
}

.menu-content ul li a {
    color: #c7d5e0;
    text-decoration: none;
}

.menu-content ul li.has-submenu>a {
    position: relative;
}

.menu-content ul li.has-submenu>a::after {
    content: "";
    position: absolute;
    right: 10px;
}

.submenu-toggle {
    display: block;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    user-select: none;
}

.submenu-toggle:focus,
.submenu-toggle:active {
    outline: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.submenu {
    display: none;
    font-size: 17px;
    margin-top: 7px;
}

.submenu li:hover {
    background: #297aa9;
    width: 100vw;
}

.menu-link {
    display: block;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    user-select: none;
}

.menu-link:focus,
.menu-link:active {
    outline: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Overlay untuk menutupi konten di bawah menu */
#overlay {
    display: none;
    /* Awalnya tidak terlihat */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Warna semi-transparan */
    z-index: 998;
    /* Di bawah menu tapi di atas konten lainnya */
}

/* HAMBURGER NAVBAR */

/* FOOTER */
.logo-footer {
    width: 90px;
    height: auto;
    margin-left: -5px;
}

.footer {
    margin: 20px;
    font-family: sans-serif;
    color: #eaeaea;
    font-size: 9px;
    width: 220px;
    margin-left: 10px;
}

/* FOOTER */

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(168, 247, 21);
    transition: all .5s ease 0s;
}

/* SEARCH ENGINE */
#searchInput {
    width: 95%;
    background-color: #2a475e;
    border-radius: 3px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
    padding: 5px;
    border: 1px solid rgb(128, 128, 128);
    margin-top: 3px;
    color: #666464;
    font-style: italic;
}

#btn-search {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 27px;
    border-radius: 3px;
    padding: 3px;
    margin: -33px;
}

.logo-search {
    width: 13px;
    height: 13px;
}

#suggestions {
    z-index: 1;
    position: absolute;
    list-style: none;
    margin-top: 0;
    padding: 0;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    background-color: #243644;
    width: 280px;
    color: white;
}

.suggestion-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.suggestion-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    gap: 5px;
    width: 265px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.suggestion-price {
    font-size: 10px;
    font-weight: normal;
    color: white;
}

.suggestion-image {
    width: 85px;
    height: auto;
}

/* SEARCH ENGINE */

/* DROPDOWN MENU */
.second-navbar {
    background: linear-gradient(to right, #297aa9, rgb(34, 23, 68));
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    padding: 15px;
    list-style: none;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bolder;
}

.second-navbar li a {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    margin: 10px;
}

.dropdown-content a {
    gap: 5px;
    text-align: left;
    display: block;
    margin: 10px;
    margin-left: 0;
    font-size: 13px;
    font-weight: 500;
    position: relative;
}

.dropdown-content a:hover {
    text-decoration: underline;
}

.nama-second-navbar {
    gap: 20px;
    line-height: 35px;
    display: block;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    user-select: none;
}

.nama-second-navbar-disable {
    gap: 20px;
    line-height: 35px;
    display: block;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    user-select: none;
}

.nama-second-navbar:focus,
.nama-second-navbar:active {
    outline: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nama-second-navbar-disable:focus,
.nama-second-navbar-disable:active {
    outline: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

h5 {
    margin: -10px;
    cursor: pointer;
    font-size: 13px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h5:hover {
    color: rgb(168, 247, 21);
    transition: all .5s ease 0s;
}

/* DROPDOWN MENU */

/* COMING SOON */
.coming-soon img {
    width: 100%;
    height: auto;
}

/* COMING SOON */

.nav-upcomingreleases {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: sans-serif;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.nama-nav-upcomingreleases {
    font-size: 23px;
    font-weight: 500;
    color: white;
}

/* UPCOMING RELEASES */
.upcomingreleases-wrapper {
    font-family: sans-serif;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    background: linear-gradient(to bottom, #2a5f88, #58a7c9);
    overflow: hidden;
    width: 100%;
    height: auto;
    color: white;
    flex: 0 0 auto;
    box-shadow: 3px 3px 3px #171a21;
}

.card-image img {
    width: 100%;
    height: auto;
}

.card-title {
    margin: 10px;
    margin-bottom: 20px;
    margin-top: -10px;
    padding: -5px;
    text-align: left;
    font-size: 0.7rem;
    white-space: nowrap;
}

.card-title p {
    font-size: 0.6rem;
    margin-top: -7px;
}

/* UPCOMING RELEASES */

/* CARD TOP WISHLISTS */
.nav-topwishlists {
    display: flex;
    text-align: center;
    justify-content: left;
    font-family: sans-serif;
    margin-top: 50px;
    margin-bottom: -5px;
}

.nama-nav {
    font-size: 13px;
    font-weight: 500;
    color: white;
    margin: 10px;
}

.all-card-topwishlists {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    overflow: auto;
    scroll-snap-type: x mandatory;
    margin: 10px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.all-card-topwishlists::-webkit-scrollbar {
    height: 8px;
}

.all-card-topwishlists::-webkit-scrollbar-thumb {
    background-color: #2A475E;
    border-radius: 3px;
}

.card-topwishlists {
    width: 100%;
    box-shadow: 3px 3px 3px #171a21;
    color: white;
    font-family: sans-serif;
}

.card-topwishlists img {
    width: 200px;
    height: auto;
    display: block;
}

.card-readnow {
    padding: 10px;
    background: linear-gradient(to bottom, #2a475e, rgb(45, 65, 89));
    font-size: 10px;
    color: #fff;
}

/* CARD TOP WISHLISTS */

/* */
.background-1 {
    background: linear-gradient(to bottom, #2a475e, #1b2838);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 120px;
}

.nav-end {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: -15px;
    font-family: sans-serif;
    margin-top: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.nama-nav-end {
    margin: 15px;
    font-size: 0.7rem;
    flex-shrink: 0;
}

.nama-nav-end a {
    color: #5686ad;
}

.nama-nav-end a:hover {
    color: white;
    text-decoration: 0.1rem underline white;
}

.nama-nav-end.active {
    text-decoration: 0.1rem underline #5686ad;
}

/* content hide */
.card-content {
    display: none;
}

/* content hide */

.card-content {
    padding: 15px;
    text-align: left;
    font-family: sans-serif;
}

.container {
    margin: -7px;
}

.card-item {
    background-color: #1b2838bb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    margin-bottom: 5px;
}

.card-item:hover {
    background-color: #3d576dd6;
}

.card-item img {
    width: 90px;
    height: auto;
    margin-right: 20px;
}

.card-item div {
    display: flex;
    align-items: flex-start;
}

.title-and-releasesdate {
    display: flex;
    flex-direction: column;
}

.releases-date {
    color: #297aa9;
    font-size: 9px;
}

.free-to-read {
    color: yellow;
    font-size: 11px;
    margin-top: 5px;
}

.card-title-popularupcomingreleases {
    font-size: 0.8rem;
    color: white;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title-allupcomingreleases {
    font-size: 0.8rem;
    color: white;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* */



@media screen and (min-width: 1280px) {

    /* SEARCH ENGINE */
    #searchInput {
        width: 95%;
        background-color: #2a475e;
        border-radius: 3px;
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
        padding: 10px;
        border: 1px solid rgb(128, 128, 128);
        margin-top: auto;
        margin-bottom: auto;
        color: #666464;
        font-style: italic;
    }

    #btn-search {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        width: 27px;
        border-radius: 3px;
        padding: 3px;
        margin: -33px;
    }

    .logo-search {
        width: 13px;
        height: 13px;
    }

    /* SEARCH ENGINE */

    /* DROPDOWN MENU */
    .second-navbar {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 2px;
        background-color: rgba(0, 0, 255, 0.6);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        margin: 10px;
        list-style: none;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: bolder;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        display: none;
    }

    .dropdown-content a {
        gap: 5px;
        text-align: center;
        display: flex;
        margin: 10px;
        margin-left: -10px;
        font-size: 13px;
        font-weight: 500;
        position: relative;
    }

    .dropdown-content a:hover {
        text-decoration: underline;
    }

    /* DROPDOWN MENU */
}

@media screen and (min-width: 720px) {

    /* SEARCH ENGINE */
    #searchInput {
        width: 250px;
    }

    /* SEARCH ENGINE */

    /* UPCOMING RELEASES */
    .upcomingreleases-wrapper {
        font-family: sans-serif;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-container {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .card {
        background: linear-gradient(to bottom, #2a5f88, #58a7c9);
        overflow: hidden;
        width: 100%;
        height: auto;
        color: white;
        flex: 0 0 auto;
        box-shadow: 3px 3px 3px #171a21;
    }

    .card-image img {
        width: 100%;
        height: auto;
    }

    .card-title {
        margin: 10px;
        margin-bottom: 20px;
        margin-top: -10px;
        padding: -5px;
        text-align: left;
        font-size: 12px;
    }

    .card-title p {
        font-size: 11px;
        margin-top: -7px;
    }

    /* UPCOMING RELEASES */

    /* CARD TOP WISHLISTS */
    .nama-nav {
        font-size: 14px;
    }

    /* CARD TOP WISHLISTS */

    /* */
    .background-1 {
        background: linear-gradient(to bottom, #2a475e, #1b2838);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-bottom: 120px;
    }

    .nav-end {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: -15px;
        font-family: sans-serif;
        margin-top: 50px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    }

    .nama-nav-end {
        margin: 15px;
        font-size: 0.8rem;
        flex-shrink: 0;
    }

    .nama-nav-end a {
        color: #5686ad;
    }

    .nama-nav-end a:hover {
        color: white;
        text-decoration: 0.1rem underline white;
    }

    .nama-nav-end.active {
        text-decoration: 0.1rem underline #5686ad;
    }

    /* content hide */
    .card-content {
        display: none;
    }

    /* content hide */

    .card-content {
        padding: 15px;
        text-align: left;
        font-family: sans-serif;
    }

    .container {
        margin: -7px;
    }

    .card-item {
        background-color: #1b2838bb;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px;
        margin-bottom: 5px;
    }

    .card-item:hover {
        background-color: #3d576dd6;
    }

    .card-item img {
        width: 130px;
        height: auto;
        margin-right: 20px;
    }

    .card-item div {
        display: flex;
        align-items: flex-start;
    }

    .card-title-popularupcomingreleases {
        font-size: 1rem;
        color: white;
        width: max-content;
    }

    .card-title-allupcomingreleases {
        font-size: 1rem;
        color: white;
        width: max-content;
    }

    /* */
}

@media screen and (width: 360px) {

    /* SEARCH ENGINE */
    #suggestions {
        z-index: 1;
        position: absolute;
        list-style: none;
        margin-top: 0;
        padding: 0;
        color: white;
        cursor: pointer;
        font-size: 13px;
        font-weight: normal;
        background-color: #243644;
        width: 250px;
        color: white;
    }

    .suggestion-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .suggestion-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 5px;
        gap: 5px;
        width: 235px;
    }

    .suggestion-price {
        font-size: 8px;
        font-weight: normal;
        color: white;
    }

    .suggestion-image {
        width: 75px;
        height: auto;
    }

    /* SEARCH ENGINE */

    .card-title-popularupcomingreleases {
        font-size: 0.7rem;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-title-allupcomingreleases {
        font-size: 0.7rem;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (width: 320px) {

    /* SEARCH ENGINE */
    #suggestions {
        z-index: 1;
        position: absolute;
        list-style: none;
        margin-top: 0;
        padding: 0;
        color: white;
        cursor: pointer;
        font-size: 13px;
        font-weight: normal;
        background-color: #243644;
        width: 250px;
        color: white;
    }

    .suggestion-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .suggestion-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 5px;
        gap: 5px;
        width: 235px;
    }

    .suggestion-price {
        font-size: 8px;
        font-weight: normal;
        color: white;
    }

    .suggestion-image {
        width: 75px;
        height: auto;
    }

    /* SEARCH ENGINE */

    .grid {
        font-size: 0.6em;
    }

    .card-title-popularupcomingreleases {
        font-size: 0.8rem;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-title-allupcomingreleases {
        font-size: 0.8rem;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}



/* MOBILE DEVICES */
@media (min-width: 320px) and (max-width: 375px) {

    /* SEARCH ENGINE */
    #searchInput {
        width: 90%;
    }

    #suggestions {
        z-index: 1;
        position: absolute;
        list-style: none;
        margin-top: 0;
        padding: 0;
        color: white;
        cursor: pointer;
        font-size: 13px;
        font-weight: normal;
        background-color: #243644;
        width: 250px;
        color: white;
    }

    .suggestion-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .suggestion-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 5px;
        gap: 5px;
        width: 235px;
    }

    .suggestion-price {
        font-size: 8px;
        font-weight: normal;
        color: white;
    }

    .suggestion-image {
        width: 75px;
        height: auto;
    }

    /* SEARCH ENGINE */

    .card-title {
        font-size: 0.7rem;
    }

    .card-title p {
        font-size: 0.7rem;
    }

    .nama-nav-end {
        font-size: 0.7rem;
    }
}

/* MOBILE DEVICES */
@media (min-width: 376px) and (max-width: 480px) {
    .nama-nav-end {
        font-size: 0.7rem;
    }
}

/* MOBILE DEVICES */
@media (max-width: 480px) {

    /* SEARCH ENGINE */
    #searchInput {
        width: 90%;
    }

    /* SEARCH ENGINE */

    .nama-nav-upcomingreleases {
        font-size: 22px;
    }

    .card-title {
        font-size: 0.7rem;
    }

    .card-title p {
        font-size: 0.7rem;
    }

    .read-now {
        font-size: 0.7rem;
    }
}

/* TABLET */
@media (min-width: 481px) and (max-width: 1025px) {

    /* SEARCH ENGINE */
    #searchInput {
        width: 95%;
    }

    /* SEARCH ENGINE */
}

/* DESKTOP SITE (MOBILE DEVICES) */
@media screen and (min-width: 768px) and (max-width: 1080px) {

    /* SEARCH ENGINE */
    #searchInput {
        width: 95%;
        background-color: #2a475e;
        border-radius: 3px;
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
        padding: 10px;
        border: 1px solid rgb(128, 128, 128);
        margin-top: auto;
        margin-bottom: auto;
        color: #666464;
        font-style: italic;
    }

    #btn-search {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        width: 27px;
        border-radius: 3px;
        padding: 3px;
        margin: -33px;
    }

    .logo-search {
        width: 13px;
        height: 13px;
    }

    /* SEARCH ENGINE */

    /* DROPDOWN MENU */
    .second-navbar {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 2px;
        background-color: rgba(0, 0, 255, 0.6);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        margin: 10px;
        list-style: none;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: bolder;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        display: none;
    }

    .dropdown-content a {
        gap: 5px;
        text-align: center;
        display: flex;
        margin: 10px;
        margin-left: -10px;
        font-size: 13px;
        font-weight: 500;
        position: relative;
    }

    .dropdown-content a:hover {
        text-decoration: underline;
    }

    .nama-second-navbar {
        font-size: 13px;
    }

    /* DROPDOWN MENU */

    /* UPCOMING RELEASES */
    .upcomingreleases-wrapper {
        font-family: sans-serif;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-container {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .card {
        background: linear-gradient(to bottom, #2a5f88, #58a7c9);
        overflow: hidden;
        width: 100%;
        height: auto;
        color: white;
        flex: 0 0 auto;
        box-shadow: 3px 3px 3px #171a21;
    }

    .card-image img {
        width: 100%;
        height: auto;
    }

    .card-title {
        margin: 10px;
        margin-bottom: 20px;
        margin-top: -10px;
        padding: -5px;
        text-align: left;
        font-size: 11px;
    }

    .card-title p {
        font-size: 10px;
        margin-top: -7px;
    }

    /* UPCOMING RELEASES */

    /* CARD TOP WISHLISTS */
    .nama-nav {
        font-size: 14px;
    }

    /* CARD TOP WISHLISTS */

    /* */
    .background-1 {
        background: linear-gradient(to bottom, #2a475e, #1b2838);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-bottom: 120px;
    }

    .nav-end {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: -15px;
        font-family: sans-serif;
        margin-top: 50px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    }

    .nama-nav-end {
        margin: 15px;
        font-size: 0.8rem;
        flex-shrink: 0;
    }

    .nama-nav-end a {
        color: #5686ad;
    }

    .nama-nav-end a:hover {
        color: white;
        text-decoration: 0.1rem underline white;
    }

    .nama-nav-end.active {
        text-decoration: 0.1rem underline #5686ad;
    }

    /* content hide */
    .card-content {
        display: none;
    }

    /* content hide */

    .card-content {
        padding: 15px;
        text-align: left;
        font-family: sans-serif;
    }

    .container {
        margin: -7px;
    }

    .card-item {
        background-color: #1b2838bb;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px;
        margin-bottom: 5px;
    }

    .card-item:hover {
        background-color: #3d576dd6;
    }

    .card-item img {
        width: 130px;
        height: auto;
        margin-right: 20px;
    }

    .card-item div {
        display: flex;
        align-items: flex-start;
    }

    .card-title-popularupcomingreleases {
        font-size: 1rem;
        color: white;
        width: max-content;
    }

    .card-title-allupcomingreleases {
        font-size: 1rem;
        color: white;
        width: max-content;
    }

    /* */
}

/* LAPTOP */
@media (min-width: 769px) and (max-width: 1024px) {}

/* DESKTOP */
@media (min-width: 1025px) {

    /* HAMBURGER NAVBAR */
    .mobile-menu {
        font-size: 17px;
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        width: 26px;
        cursor: pointer;
        padding: 5px;
        margin-top: -31px;
        margin-left: -7px;
    }

    .menu-content ul li {
        padding: 9px;
    }

    .submenu {
        font-size: 14px;
    }

    /* HAMBURGER NAVBAR */

    /* FOOTER */
    .logo-footer {
        width: 70px;
        height: auto;
    }

    .footer {
        font-size: 8px;
    }

    /* FOOTER */
}

/* DESKTOP 1920px */
@media (min-width: 1920px) {}

@media only screen and (max-width: 926px) and (orientation: landscape) {
    .menu-content {
        height: 100vh;
        overflow-y: scroll;
    }

    .mobile-menu {
        overflow-y: hidden;
    }

    .menu-toggle {
        position: relative;
        top: 0;
        margin-top: -37px;
        margin-left: -7px;
    }

    .footer {
        margin-top: 30px;
    }

    /* UPCOMING RELEASES */
    .upcomingreleases-wrapper {
        font-family: sans-serif;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .card {
        background: linear-gradient(to bottom, #2a5f88, #58a7c9);
        overflow: hidden;
        width: 100%;
        height: auto;
        color: white;
        flex: 0 0 auto;
        box-shadow: 3px 3px 3px #171a21;
    }

    .card-image img {
        width: 100%;
        height: auto;
    }

    .card-title {
        margin: 10px;
        margin-bottom: 20px;
        margin-top: -10px;
        padding: -5px;
        text-align: left;
        font-size: 0.9rem;
        white-space: nowrap;
    }

    .card-title p {
        font-size: 0.8rem;
        margin-top: -7px;
    }

    /* UPCOMING RELEASES */
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {

    /* SEARCH ENGINE */
    #searchInput {
        width: 95%;
        background-color: #2a475e;
        border-radius: 3px;
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
        padding: 10px;
        border: 1px solid rgb(128, 128, 128);
        margin-top: auto;
        margin-bottom: auto;
        color: #666464;
        font-style: italic;
    }

    #btn-search {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        width: 27px;
        border-radius: 3px;
        padding: 3px;
        margin: -33px;
    }

    .logo-search {
        width: 13px;
        height: 13px;
    }

    /* SEARCH ENGINE */

    /* DROPDOWN MENU */
    .second-navbar {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 2px;
        background-color: rgba(0, 0, 255, 0.6);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        margin: 10px;
        list-style: none;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: bolder;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        display: none;
    }

    .dropdown-content a {
        gap: 5px;
        text-align: center;
        display: flex;
        margin: 10px;
        margin-left: -10px;
        font-size: 13px;
        font-weight: 500;
        position: relative;
    }

    .dropdown-content a:hover {
        text-decoration: underline;
    }

    .nama-second-navbar {
        font-size: 13px;
    }

    /* DROPDOWN MENU */

    /* UPCOMING RELEASES */
    .upcomingreleases-wrapper {
        font-family: sans-serif;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-container {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .card {
        background: linear-gradient(to bottom, #2a5f88, #58a7c9);
        overflow: hidden;
        width: 100%;
        height: auto;
        color: white;
        flex: 0 0 auto;
        box-shadow: 3px 3px 3px #171a21;
    }

    .card-image img {
        width: 100%;
        height: auto;
    }

    .card-title {
        margin: 10px;
        margin-bottom: 20px;
        margin-top: -10px;
        padding: -5px;
        text-align: left;
        font-size: 12px;
    }

    .card-title p {
        font-size: 11px;
        margin-top: -7px;
    }

    /* UPCOMING RELEASES */

    /* CARD TOP WISHLISTS */
    .nama-nav {
        font-size: 14px;
    }

    /* CARD TOP WISHLISTS */

    /* */
    .background-1 {
        background: linear-gradient(to bottom, #2a475e, #1b2838);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-bottom: 120px;
    }

    .nav-end {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: -15px;
        font-family: sans-serif;
        margin-top: 50px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    }

    .nama-nav-end {
        margin: 15px;
        font-size: 0.8rem;
        flex-shrink: 0;
    }

    .nama-nav-end a {
        color: #5686ad;
    }

    .nama-nav-end a:hover {
        color: white;
        text-decoration: 0.1rem underline white;
    }

    .nama-nav-end.active {
        text-decoration: 0.1rem underline #5686ad;
    }

    /* content hide */
    .card-content {
        display: none;
    }

    /* content hide */

    .card-content {
        padding: 15px;
        text-align: left;
        font-family: sans-serif;
    }

    .container {
        margin: -7px;
    }

    .card-item {
        background-color: #1b2838bb;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px;
        margin-bottom: 5px;
    }

    .card-item:hover {
        background-color: #3d576dd6;
    }

    .card-item img {
        width: 130px;
        height: auto;
        margin-right: 20px;
    }

    .card-item div {
        display: flex;
        align-items: flex-start;
    }

    .card-title-popularupcomingreleases {
        font-size: 1rem;
        color: white;
        width: max-content;
    }

    .card-title-allupcomingreleases {
        font-size: 1rem;
        color: white;
        width: max-content;
    }

    /* */
}