@charset "utf-8";

/* CSS Document*/
body {
	background-color: #1b2838;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
	font-family: 'Roboto', Verdana, Arial, sans-serif;
}

.background-0 {
	background: linear-gradient(to bottom, rgb(42, 71, 94), rgba(44, 66, 94, 0.765));
	padding-bottom: 20px;
	border-bottom: 2px solid #243644;
}

/* LOGO WEBSITE */
.container-logoweb {
	display: flex;
	justify-content: center;
}

.logo-website {
	width: 100px;
	height: 35px;
	margin: -23px;
	padding-bottom: 9px;
}

/* LOGO WEBSITE */

/* HAMBURGER NAVBAR */
.mobile-menu {
	background-color: #171a21;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
	padding: 15px;
	font-family: sans-serif;
	font-size: 22px;
}

.menu-toggle {
	display: flex;
	flex-direction: column;
	width: 26px;
	cursor: pointer;
	padding: 5px;
	margin-top: -37px;
	margin-left: -7px;
	outline: none;
}

.menu-icon {
	background-color: #c7d5e0;
	height: 4px;
	margin: 3px 0;
	border-radius: 2px;
}

.menu-content {
	height: 100vh;
	overflow-y: scroll;
	position: fixed;
	left: -250px;
	top: 0;
	width: 280px;
	height: 100%;
	background-color: #1b1b1b;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
	transition: left 0.3s ease;
	display: none;
	z-index: 999;
}

.menu-content::-webkit-scrollbar {
	height: 8px;
}

.menu-content::-webkit-scrollbar-thumb {
	background-color: #1b2838;
	border-radius: 3px;
}

.has-submenu {
	border-bottom: 0.3px solid #444;
}

.has-submenu:hover {
	background-color: #1b2838;
}

.menu-content ul {
	list-style: none;
	padding-left: 0;
}

.menu-content ul li {
	padding: 12px;
}

.menu-content ul li a {
	color: #c7d5e0;
	text-decoration: none;
}

.menu-content ul li.has-submenu>a {
	position: relative;
}

.menu-content ul li.has-submenu>a::after {
	content: "";
	position: absolute;
	right: 10px;
}

.submenu-toggle {
	display: block;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	user-select: none;
}

.submenu-toggle:focus,
.submenu-toggle:active {
	outline: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.submenu {
	display: none;
	font-size: 17px;
	margin-top: 7px;
}

.submenu li:hover {
	background: #297aa9;
	width: 100vw;
}

.menu-link {
	display: block;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	user-select: none;
}

.menu-link:focus,
.menu-link:active {
	outline: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Overlay untuk menutupi konten di bawah menu */
#overlay {
	display: none;
	/* Awalnya tidak terlihat */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Warna semi-transparan */
	z-index: 998;
	/* Di bawah menu tapi di atas konten lainnya */
}

/* HAMBURGER NAVBAR */

/* FOOTER */
.logo-footer {
	width: 90px;
	height: auto;
	margin-left: -5px;
}

.footer {
	margin: 20px;
	font-family: sans-serif;
	color: #eaeaea;
	font-size: 9px;
	width: 220px;
	margin-left: 10px;
}

/* FOOTER */

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

/* SEARCH ENGINE */
#searchInput {
	width: 95%;
	background-color: #2a475e;
	border-radius: 3px;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
	padding: 5px;
	border: 1px solid rgb(128, 128, 128);
	margin-top: 3px;
	color: #666464;
	font-style: italic;
}

#btn-search {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	width: 27px;
	border-radius: 3px;
	padding: 3px;
	margin: -33px;
}

.logo-search {
	width: 13px;
	height: 13px;
}

/* SEARCH ENGINE */

/* DROPDOWN MENU */
.second-navbar {
	background: linear-gradient(to right, #297aa9, rgb(34, 23, 68));
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	padding: 15px;
	list-style: none;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bolder;
}

.second-navbar li a {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.dropdown {
	position: relative;
}

.dropdown-content {
	display: none;
	margin: 10px;
}

.dropdown-content a {
	gap: 5px;
	text-align: left;
	display: block;
	margin: 10px;
	margin-left: 0;
	font-size: 13px;
	font-weight: 500;
	position: relative;
}

.dropdown-content a:hover {
	text-decoration: underline;
}

.nama-second-navbar {
	gap: 20px;
	line-height: 35px;
	display: block;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	user-select: none;
}

.nama-second-navbar-disable {
	gap: 20px;
	line-height: 35px;
	display: block;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	user-select: none;
}

.nama-second-navbar:focus,
.nama-second-navbar:active {
	outline: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.nama-second-navbar-disable:focus,
.nama-second-navbar-disable:active {
	outline: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

h5 {
	margin: -10px;
	cursor: pointer;
	font-size: 13px;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h5:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

/* DROPDOWN MENU */

/* COMING SOON & NEW AVAILABLE */
.coming-soon img {
	width: 100%;
	height: auto;
}

.new-available img {
	width: 100%;
	height: auto;
	box-shadow: 3px 3px 3px #171a21;
}

.new-available {
	padding-top: 10px;
	margin: 10px;
}

/* COMING SOON & NEW AVAILABLE */

/* NEW RELEASES */
.nav-newreleases {
	display: flex;
	text-align: center;
	justify-content: left;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: white;
	margin: auto;
	margin-top: 30px;
	margin-bottom: -25px;
}

.newreleases-wrapper {
	font-family: sans-serif;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5px;
}

.card-container {
	display: flex;
	overflow-x: auto;
	padding-bottom: 20px;
	padding-right: 10px;
	gap: 10px;
}

.card-container::-webkit-scrollbar {
	height: 8px;
}

.card-container::-webkit-scrollbar-thumb {
	background-color: #2A475E;
	border-radius: 3px;
}

.card-newreleases {
	background: linear-gradient(to top, rgb(21, 38, 54), rgba(14, 26, 38, 0.564));
	overflow: hidden;
	width: 320px;
	height: 237px;
	color: white;
	flex: 0 0 auto;
	box-shadow: 3px 3px 3px #171a21;
}

.card-image-newreleases img {
	width: 100%;
	height: auto;
}

.card-title-newreleases {
	margin: 10px;
	margin-bottom: 20px;
	margin-top: -10px;
	padding: -5px;
	text-align: left;
	font-size: 10px;
	width: max-content;
	white-space: nowrap;
	overflow: hidden;
}

.card-title-newreleases p {
	font-size: 10px;
	margin-top: -7px;
}

/* NEW RELEASES */

.nav-specialoffers {
	display: flex;
	text-align: center;
	justify-content: left;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: white;
	margin: auto;
	margin-bottom: -25px;
	margin-top: 50px;
}

.nav-popularshortstories {
	display: flex;
	text-align: center;
	justify-content: left;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: white;
	margin-top: 50px;
	margin-bottom: -25px;
}

.nav-end {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: auto;
	scroll-snap-type: x mandatory;
	gap: -15px;
	font-family: sans-serif;
	margin-top: 50px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.nav-updatesandoffers {
	display: flex;
	text-align: center;
	justify-content: left;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: white;
	margin: auto;
	margin-bottom: -25px;
	margin-top: 50px;
}

.nama-nav-end {
	margin: 15px;
	font-size: 0.7rem;
	flex-shrink: 0;
}

.nama-nav-end a {
	color: #5686ad;
}

.nama-nav-end a:hover {
	color: white;
	text-decoration: 0.1rem underline white;
}

.nama-nav-end.active {
	text-decoration: 0.1rem underline #5686ad;
}

.nama-nav {
	margin: 10px;
}

/* CONTENT HIDE */
.card-content {
	display: none;
}

/* CONTENT HIDE */

/* SPECIAL OFFERS */
.container-specialoffers {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	margin: 10px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-top: 5px;
	position: relative;
}

.container-specialoffers::-webkit-scrollbar {
	height: 8px;
}

.container-specialoffers::-webkit-scrollbar-thumb {
	background-color: #2A475E;
	border-radius: 3px;
}

.double-card {
	display: grid;
	grid-gap: 10px;
}

.card-specialoffers {
	background: linear-gradient(to bottom, #2a5f88, #58a7c9);
	width: 280px;
	height: 195px;
	box-shadow: 3px 3px 3px #171a21;
	transition: transform 0.3s ease;
	font-family: sans-serif;
	cursor: pointer;
	overflow: visible;
	position: relative;
}

.card-specialoffers-single {
	background: linear-gradient(to bottom, #2a5f88, #58a7c9);
	width: 280px;
	height: auto;
	box-shadow: 3px 3px 3px #171a21;
	transition: transform 0.3s ease;
	font-family: sans-serif;
	cursor: pointer;
	overflow: visible;
	position: relative;
}

.card-image {
	height: auto;
	width: 100%;
	display: block;
}

.card-content-specialoffers {
	padding: 15px;
	text-align: left;
}

.button-freetoread {
	width: max-content;
	padding: 5px;
	font-size: 15px;
	color: white;
	font-weight: bold;
	margin-top: -10px;
	margin-left: -10px;
}

.button-comingsoon {
	background: linear-gradient(to bottom, #627a05, #819c13);
	width: max-content;
	padding: 5px;
	font-size: 15px;
	color: yellow;
	font-weight: 500;
	margin-top: -10px;
	margin-left: -10px;
}

.button-nowavailable {
	background: linear-gradient(to bottom, #627a05, #819c13);
	width: max-content;
	padding: 5px;
	font-size: 18px;
	color: yellow;
	font-weight: 500;
	margin-top: -10px;
	margin-bottom: 5px;
	margin-left: -5px;
}

.date-released {
	width: max-content;
	padding: 5px;
	font-size: 13px;
	color: white;
	font-weight: normal;
	margin-top: -20px;
	margin-left: -10px;
}

/* Popup card yang muncul di hover-top */
.hover-card-top {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	/* Appear next to the card */
	width: auto;
	/* Larger width */
	background-color: white;
	padding: 10px;
	color: #171a21;
	z-index: 999;
	/* Higher z-index to ensure it appears on top */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hover-card-top img {
	width: 100%;
	height: auto;
	margin-top: 5px;
}

.hover-card-top h1 {
	margin-top: -3px;
	font-size: 16px;
	font-weight: 700;
}

.hover-card-top h2 {
	margin-top: -10px;
	font-size: 11px;
	font-weight: normal;
}

.hover-card-top h3 {
	font-size: 14px;
	font-weight: 500;
}

/* Popup card yang muncul di hover-bottom */
.hover-card-bottom {
	display: none;
	position: absolute;
	top: auto;
	bottom: 0;
	left: 0;
	/* Appear next to the card */
	width: auto;
	/* Larger width */
	background-color: white;
	padding: 10px;
	color: #171a21;
	z-index: 999;
	/* Higher z-index to ensure it appears on top */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hover-card-bottom img {
	width: 100%;
	height: auto;
	margin-top: 5px;
}

.hover-card-bottom h1 {
	margin-top: -3px;
	font-size: 16px;
	font-weight: 700;
}

.hover-card-bottom h2 {
	margin-top: -10px;
	font-size: 11px;
	font-weight: normal;
}

.hover-card-bottom h3 {
	font-size: 14px;
	font-weight: 500;
}

.tag {
	display: inline-block;
	background-color: #717579;
	color: white;
	padding: 3px 7px;
	border-radius: 2px;
	gap: 5px;
	font-size: 10px;
}

/* Setiap slide */
.slide {
	display: none;
}

/* Slide aktif akan terlihat dengan opacity penuh */
.active-slide {
	display: block;
}

/* SPECIAL OFFERS */

/* CARD POPULAR SHORT STORIES */
.all-card-popularshortstories {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	overflow: auto;
	scroll-snap-type: x mandatory;
	margin: 10px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-top: 5px;
}

.all-card-popularshortstories::-webkit-scrollbar {
	height: 8px;
}

.all-card-popularshortstories::-webkit-scrollbar-thumb {
	background-color: #2A475E;
	border-radius: 3px;
}

.card-popularshortstories {
	width: 200px;
	box-shadow: 3px 3px 3px #171a21;
	color: white;
	font-family: sans-serif;
}

.card-popularshortstories img {
	width: 200px;
	height: auto;
	display: block;
}

.card-readnow {
	padding: 10px;
	background: linear-gradient(to bottom, #2a475e, rgb(45, 65, 89));
	font-size: 13px;
	color: #fff;
}

/* CARD POPULAR SHORT STORIES */

/* GRID CARD */
.grid-wrapper {
	font-family: sans-serif;
	background-color: #1b2838;
	color: #c7d5e0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding-top: 5px;
}

.grid-container {
	text-align: center;
	width: 100%;
	max-width: 600px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
	gap: 7px;
	font-size: 0.8em;
}

.grid-item {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, #00aaff, #0066ff);
	padding: 20px;
	border-radius: 3px;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	transition: background 0.3s ease;
	box-shadow: 3px 3px 3px #171a21;
}

.grid-item:hover {
	background: linear-gradient(135deg, #0066ff, #00aaff);
}

/* GRID CARD */

/* BANNER */
.banner-container {
	padding-top: 20px;
}

.banner {
	background-color: #0e3c56;
	background-blend-mode: overlay;
	padding: 20px;
	text-align: center;
	border-radius: 2px;
	margin: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	font-family: sans-serif;
	color: #ffffff;
}

.banner h1 {
	font-size: 20px;
	margin: 0;
	letter-spacing: 2px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner p {
	font-size: 12px;
	margin: 10px 0 0;
	letter-spacing: 1px;
	color: #00aaff;
	font-weight: bold;
}

.all-card-topnewreleases {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	overflow: auto;
	scroll-snap-type: x mandatory;
	margin: 10px;
	padding-bottom: 15px;
	padding-right: 15px;
}

.all-card-topnewreleases::-webkit-scrollbar {
	height: 8px;
}

.all-card-topnewreleases::-webkit-scrollbar-thumb {
	background-color: #2A475E;
	border-radius: 3px;
}

.card-topnewreleases {
	width: 200px;
	box-shadow: 3px 3px 3px #171a21;
	color: white;
	font-family: sans-serif;
	scroll-snap-align: center;
}

.card-topnewreleases img {
	width: 200px;
	height: auto;
	display: block;
}

/* BANNER */

.background-1 {
	background: linear-gradient(to bottom, #2a475e, #1b2838);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-bottom: 50px;
}

/* */
.card-content {
	padding: 15px;
	text-align: left;
}

.container {
	margin: -7px;
}

.card-item {
	background-color: #1b2838bb;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3px;
	margin-bottom: 5px;
}

.card-item:hover {
	background-color: #3d576dd6;
}

.card-item img {
	width: 90px;
	height: auto;
	margin-right: 20px;
}

.card-item div {
	display: flex;
	align-items: flex-start;
}

.title-and-releasesdate {
    display: flex;
    flex-direction: column;
}

.card-title {
	font-size: 0.8rem;
	color: white;
	width: max-content;
}

.releases-date {
    color: #297aa9;
    font-size: 9px;
}

.free-to-read {
    color: yellow;
    font-size: 11px;
    margin-top: 5px;
}

/* */

/* UPDATE AND OFFERS */
.container-updatesandoffers {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px;
	gap: 10px;
	padding-bottom: 15px;
	padding-top: 5px;
	overflow: visible;
}

.container-updatesandoffers::-webkit-scrollbar {
	height: 8px;
}

.container-updatesandoffers::-webkit-scrollbar-thumb {
	background-color: #2A475E;
	border-radius: 3px;
}

.double-card-updatesandoffers {
	display: flex;
	gap: 10px;
}

.card-updatesandoffers {
	background: linear-gradient(to bottom, #2b4e63, #2b4d6344);
	width: 100%;
	height: auto;
	box-shadow: 3px 3px 3px #171a21;
	transition: transform 0.3s ease;
	font-family: sans-serif;
	cursor: pointer;
	overflow: visible;
	position: relative;
}

.card-image {
	height: auto;
	width: 100%;
	display: block;
}

.card-content-updatesandoffers {
	padding: 15px;
	text-align: left;
}

.button-nowavailable {
	background: linear-gradient(to bottom, #627a05, #819c13);
	width: max-content;
	padding: 5px;
	font-size: 18px;
	color: yellow;
	font-weight: 500;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: -5px;
}

/* Popup card yang muncul di hover */
.hover-card {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	/* Appear next to the card */
	width: auto;
	/* Larger width */
	background-color: white;
	padding: 10px;
	color: #171a21;
	z-index: 999;
	/* Higher z-index to ensure it appears on top */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hover-card img {
	width: 100%;
	height: auto;
	margin-top: 5px;
}

.hover-card h1 {
	margin-top: -3px;
	font-size: 16px;
	font-weight: 700;
}

.hover-card h2 {
	margin-top: -10px;
	font-size: 11px;
	font-weight: normal;
}

.hover-card h3 {
	font-size: 14px;
	font-weight: 500;
}

.tag {
	display: inline-block;
	background-color: #717579;
	color: white;
	padding: 3px 7px;
	border-radius: 2px;
	gap: 5px;
	font-size: 10px;
}

/* Setiap slide */
.slide {
	display: none;
}

/* Slide aktif akan terlihat dengan opacity penuh */
.active-slide {
	display: block;
}

/* UPDATE AND OFFERS */



@media screen and (min-width: 1280px) {

	/* SEARCH ENGINE */
	#searchInput {
		width: 95%;
		background-color: #2a475e;
		border-radius: 3px;
		box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
		padding: 10px;
		border: 1px solid rgb(128, 128, 128);
		margin-top: auto;
		margin-bottom: auto;
		color: #666464;
		font-style: italic;
	}

	#btn-search {
		background-color: rgba(0, 0, 0, 0);
		border: none;
		width: 27px;
		border-radius: 3px;
		padding: 3px;
		margin: -33px;
	}

	.logo-search {
		width: 13px;
		height: 13px;
	}

	/* SEARCH ENGINE */

	/* DROPDOWN MENU */
	.second-navbar {
		display: flex;
		justify-content: center;
		gap: 30px;
		padding: 2px;
		background-color: rgba(0, 0, 255, 0.6);
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
		margin: 10px;
		list-style: none;
		font-family: sans-serif;
		font-size: 13px;
		font-weight: bolder;
	}

	.dropdown {
		position: relative;
	}

	.dropdown-content {
		display: none;
	}

	.dropdown-content a {
		gap: 5px;
		text-align: center;
		display: flex;
		margin: 10px;
		margin-left: -10px;
		font-size: 13px;
		font-weight: 500;
		position: relative;
	}

	.dropdown-content a:hover {
		text-decoration: underline;
	}

	/* DROPDOWN MENU */

	.featured-and-recommended-mobile {
		display: none;
	}

	/* SPECIAL OFFERS */
	.container-specialoffers {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 10px;
		overflow-x: scroll;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		margin: 10px;
		padding-bottom: 15px;
		padding-right: 15px;
		padding-top: 5px;
		position: relative;
	}

	.double-card {
		display: grid;
		grid-gap: 10px;
	}

	.card-specialoffers {
		background: linear-gradient(to bottom, #2a5f88, #58a7c9);
		width: 320px;
		height: 220px;
		box-shadow: 3px 3px 3px #171a21;
		transition: transform 0.3s ease;
		font-family: sans-serif;
		cursor: pointer;
		overflow: visible;
		position: relative;
	}

	.card-specialoffers-single {
		background: linear-gradient(to bottom, #2a5f88, #58a7c9);
		width: 320px;
		height: auto;
		box-shadow: 3px 3px 3px #171a21;
		transition: transform 0.3s ease;
		font-family: sans-serif;
		cursor: pointer;
		overflow: visible;
		position: relative;
	}

	.card-image {
		height: auto;
		width: 100%;
		display: block;
	}

	.card-content-specialoffers {
		padding: 15px;
		text-align: left;
	}

	.button-freetoread {
		width: max-content;
		padding: 6px;
		font-size: 16px;
		color: white;
		font-weight: bold;
		margin-top: -10px;
		margin-left: -10px;
	}

	.button-comingsoon {
		background: linear-gradient(to bottom, #627a05, #819c13);
		width: max-content;
		padding: 6px;
		font-size: 16px;
		color: yellow;
		font-weight: 500;
		margin-top: -10px;
		margin-left: -10px;
	}

	.button-nowavailable {
		background: linear-gradient(to bottom, #627a05, #819c13);
		width: max-content;
		padding: 6px;
		font-size: 18px;
		color: yellow;
		font-weight: 500;
		margin-top: -10px;
		margin-bottom: 5px;
		margin-left: -5px;
	}

	.date-released {
		width: max-content;
		padding: 6px;
		font-size: 13px;
		color: white;
		font-weight: normal;
		margin-top: -20px;
		margin-left: -10px;
	}

	/* Popup card yang muncul di hover-top */
	.hover-card-top {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		/* Appear next to the card */
		width: auto;
		/* Larger width */
		background-color: white;
		padding: 10px;
		color: #171a21;
		z-index: 999;
		/* Higher z-index to ensure it appears on top */
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}

	.hover-card-top img {
		width: 100%;
		height: auto;
		margin-top: 5px;
	}

	.hover-card-top h1 {
		margin-top: -3px;
		font-size: 16px;
		font-weight: 700;
	}

	.hover-card-top h2 {
		margin-top: -10px;
		font-size: 11px;
		font-weight: normal;
	}

	.hover-card-top h3 {
		font-size: 14px;
		font-weight: 500;
	}

	/* Popup card yang muncul di hover-bottom */
	.hover-card-bottom {
		display: none;
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		/* Appear next to the card */
		width: auto;
		/* Larger width */
		background-color: white;
		padding: 10px;
		color: #171a21;
		z-index: 999;
		/* Higher z-index to ensure it appears on top */
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}

	.hover-card-bottom img {
		width: 100%;
		height: auto;
		margin-top: 5px;
	}

	.hover-card-bottom h1 {
		margin-top: -3px;
		font-size: 16px;
		font-weight: 700;
	}

	.hover-card-bottom h2 {
		margin-top: -10px;
		font-size: 11px;
		font-weight: normal;
	}

	.hover-card-bottom h3 {
		font-size: 14px;
		font-weight: 500;
	}

	.tag {
		display: inline-block;
		background-color: #717579;
		color: white;
		padding: 3px 7px;
		border-radius: 2px;
		gap: 5px;
		font-size: 10px;
	}

	/* Setiap slide */
	.slide {
		display: none;
	}

	/* Slide aktif akan terlihat dengan opacity penuh */
	.active-slide {
		display: block;
	}

	/* SPECIAL OFFERS */

	/* CARD POPULAR SHORT STORIES */
	.card-popularshortstories {
		width: 250px;
	}

	.card-popularshortstories img {
		width: 250px;
		height: auto;
	}

	/* CARD POPULAR SHORT STORIES */

	/* GRID CARD */
	.grid-wrapper {
		font-family: sans-serif;
		color: #c7d5e0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		overflow: auto;
		scroll-snap-type: x mandatory;
		margin: 20px;
	}

	.grid-container {
		max-width: 1500px;
		width: 100%;
		padding-bottom: 15px;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 7px;
		font-size: 15px;
	}

	.grid-item {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	/* GRID CARD */

	/* BANNER */
	.card-topnewreleases {
		width: 250px;
	}

	.card-topnewreleases img {
		width: 250px;
		height: auto;
	}

	/* BANNER */

	/* UPDATE AND OFFERS */
	.container-updatesandoffers {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		margin: 10px;
		gap: 10px;
		padding-bottom: 15px;
		padding-top: 5px;
		overflow: visible;
	}

	.container-updatesandoffers::-webkit-scrollbar {
		height: 8px;
	}

	.container-updatesandoffers::-webkit-scrollbar-thumb {
		background-color: #2A475E;
		border-radius: 3px;
	}

	.double-card-updatesandoffers {
		display: grid;
		grid-gap: 10px;
	}

	.card-updatesandoffers {
		background: linear-gradient(to bottom, #2b4e63, #2b4d6344);
		width: 240px;
		height: auto;
		box-shadow: 3px 3px 3px #171a21;
		transition: transform 0.3s ease;
		font-family: sans-serif;
		cursor: pointer;
		overflow: visible;
		position: relative;
	}

	.card-image {
		height: auto;
		width: 100%;
		display: block;
	}

	.card-content-updatesandoffers {
		padding: 15px;
		text-align: left;
	}

	.button-nowavailable {
		background: linear-gradient(to bottom, #627a05, #819c13);
		width: max-content;
		padding: 5px;
		font-size: 20px;
		color: yellow;
		font-weight: 500;
		margin-top: auto;
		margin-bottom: auto;
		margin-left: -5px;
	}

	/* Popup card yang muncul di hover */
	.hover-card {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		/* Appear next to the card */
		width: auto;
		/* Larger width */
		background-color: white;
		padding: 10px;
		color: #171a21;
		z-index: 999;
		/* Higher z-index to ensure it appears on top */
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}

	.hover-card img {
		width: 100%;
		height: auto;
		margin-top: 5px;
	}

	.hover-card h1 {
		margin-top: -3px;
		font-size: 16px;
		font-weight: 700;
	}

	.hover-card h2 {
		margin-top: -10px;
		font-size: 11px;
		font-weight: normal;
	}

	.hover-card h3 {
		font-size: 14px;
		font-weight: 500;
	}

	.tag {
		display: inline-block;
		background-color: #717579;
		color: white;
		padding: 3px 7px;
		border-radius: 2px;
		gap: 5px;
		font-size: 10px;
	}

	/* Setiap slide */
	.slide {
		display: none;
	}

	/* Slide aktif akan terlihat dengan opacity penuh */
	.active-slide {
		display: block;
	}

	/* UPDATE AND OFFERS */
}

@media screen and (min-width: 720px) {

	/* SEARCH ENGINE */
	#searchInput {
		width: 250px;
	}

	/* SEARCH ENGINE */

	.featured-and-recommended-desktop {
		display: block;
	}

	.featured-and-recommended-mobile {
		display: block;
	}

	/* FEATURED & RECOMMENDED DESKTOP */
	.wrapper-newreleases-desktop {
		display: flex;
		overflow-x: auto;
		padding-top: 5px;
		padding-left: 5px;
		padding-right: 15px;
		padding-bottom: 15px;
		margin: 10px;
		gap: 15px;
	}

	.wrapper-newreleases-desktop::-webkit-scrollbar {
		height: 8px;
	}

	.wrapper-newreleases-desktop::-webkit-scrollbar-thumb {
		background-color: #2A475E;
		border-radius: 3px;
	}

	.container-newreleases-desktop {
		display: flex;
		max-width: 1200px;
		background-color: #1b2838;
		padding-right: 10px;
		box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
	}

	.featured {
		flex: 2;
		max-width: 100%;
	}

	.featured img {
		width: 700px;
		display: block;
		box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
	}

	.recommended {
		flex: 1;
		margin-left: 10px;
	}

	.recommended h2 {
		font-size: 19px;
		margin-bottom: 10px;
		color: white;
		font-weight: normal;
		cursor: default;
	}

	.recommended h3 {
		font-size: 18px;
		font-weight: normal;
		color: white;
		margin-top: 4px;
		cursor: default;
	}

	.recommended h4 {
		font-size: 10px;
		font-weight: normal;
		color: white;
		margin-top: -5px;
		cursor: default;
	}

	.recommended p {
		font-size: 12px;
		background: #4a4c4f;
		padding: 4px;
		margin-top: -13px;
		width: max-content;
		color: white;
		border-radius: 3px;
		cursor: default;
	}

	.thumbnails {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
		margin-top: 20px;
	}

	.thumbnails img {
		width: 160px;
		cursor: pointer;
		box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
	}

	/* FEATURED & RECOMMENDED DESKTOP */

	.nav-newreleases {
		display: flex;
		text-align: center;
		justify-content: left;
		font-family: sans-serif;
		font-weight: normal;
		font-size: 13px;
		color: white;
		margin: auto;
		margin-top: 50px;
		margin-bottom: -25px;
	}

	.nav-specialoffers {
		display: flex;
		text-align: center;
		justify-content: left;
		font-family: sans-serif;
		font-weight: normal;
		font-size: 13px;
		color: white;
		margin: auto;
		margin-bottom: -25px;
		margin-top: 50px;
	}

	.nav-popularshortstories {
		font-size: 13px;
		margin-top: 60px;
	}

	.nav-updatesandoffers {
		display: flex;
		text-align: center;
		justify-content: left;
		font-family: sans-serif;
		font-weight: normal;
		font-size: 13px;
		color: white;
		margin: auto;
		margin-bottom: -25px;
		margin-top: 50px;
	}

	.nama-nav-end {
		font-size: 13px;
	}

	button {
		font-size: 13px;
		margin: 3px;
	}

	/* GRID CARD */
	.grid-wrapper {
		font-family: sans-serif;
		color: #c7d5e0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		overflow: auto;
		scroll-snap-type: x mandatory;
		margin: 10px;
	}

	.grid-container {
		max-width: 1500px;
		width: 100%;
		padding-bottom: 15px;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 7px;
		font-size: 15px;
	}

	.grid-item {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}

	/* GRID CARD */

	/* */
	.card-item img {
		width: 130px;
		height: auto;
		margin-right: 20px;
	}

	.card-title {
		font-size: 1rem;
	}

	/* */
}

@media screen and (width: 800px) {
	.nav-newreleases {
		font-size: 13px;
	}

	.nav-specialoffers {
		font-size: 13px;
	}

	.nav-updatesandoffers {
		font-size: 13px;
	}
}

@media screen and (max-width: 810px) {
	.nav-newreleases {
		font-size: 13px;
	}

	.nav-specialoffers {
		font-size: 13px;
	}

	.nav-updatesandoffers {
		font-size: 13px;
	}
}

@media screen and (width: 360px) {
	.card-item div {
        display: flex;
        align-items: flex-start;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 250px;
    }

    .card-title {
        font-size: 0.7rem;
    }
}

@media screen and (width: 320px) {
	.grid {
		font-size: 0.6em;
	}

	.card-item div {
        display: flex;
        align-items: flex-start;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 250px;
    }

    .card-title {
        font-size: 0.8rem;
    }
}



/* MOBILE DEVICES */
@media (min-width: 320px) and (max-width: 375px) {

	/* SEARCH ENGINE */
	#searchInput {
		width: 90%;
	}

	/* SEARCH ENGINE */

	.featured-and-recommended-desktop {
		display: none;
	}

	.card-title-newreleases {
		font-size: 0.7rem;
	}

	.card-title-newreleases p {
		font-size: 0.7rem;
	}

	.grid {
		grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
		font-size: 0.6em;
	}

	.nama-nav {
		font-size: 0.9rem;
		font-weight: normal;
		margin-bottom: 20px;
	}

	.nama-nav-end {
		font-size: 0.7rem;
	}

	.card-item div {
        display: flex;
        align-items: flex-start;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 250px;
    }

    .card-title {
        font-size: 0.8rem;
    }

	button {
		font-size: 10px;
		margin: 2px;
	}
}

/* MOBILE DEVICES */
@media (min-width: 376px) and (max-width: 480px) {

	/* SEARCH ENGINE */
	#searchInput {
		width: 90%;
	}

	/* SEARCH ENGINE */

	.featured-and-recommended-desktop {
		display: none;
	}

	.card-title-newreleases {
		font-size: 0.7rem;
	}

	.card-title-newreleases p {
		font-size: 0.7rem;
	}

	.grid {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}

	.nama-nav {
		font-size: 1rem;
		font-weight: normal;
		margin-bottom: 20px;
	}

	.nama-nav-end {
		font-size: 0.7rem;
	}

	.card-item div {
        display: flex;
        align-items: flex-start;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 300px;
    }

    .card-title {
        font-size: 0.8rem;
    }

	button {
		font-size: 10px;
		margin: 2px;
	}
}

/* TABLET */
@media (min-width: 481px) and (max-width: 1025px) {

	/* SEARCH ENGINE */
	#searchInput {
		width: 95%;
	}

	/* SEARCH ENGINE */

	.featured-and-recommended-desktop {
		display: none;
	}

	.nama-nav {
		font-size: 1rem;
		font-weight: normal;
		margin-bottom: 20px;
	}

	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* DESKTOP SITE (MOBILE DEVICES) */
@media screen and (min-width: 768px) and (max-width: 1080px) {

	/* SEARCH ENGINE */
	#searchInput {
		width: 95%;
		background-color: #2a475e;
		border-radius: 3px;
		box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
		padding: 10px;
		border: 1px solid rgb(128, 128, 128);
		margin-top: auto;
		margin-bottom: auto;
		color: #666464;
		font-style: italic;
	}

	#btn-search {
		background-color: rgba(0, 0, 0, 0);
		border: none;
		width: 27px;
		border-radius: 3px;
		padding: 3px;
		margin: -33px;
	}

	.logo-search {
		width: 13px;
		height: 13px;
	}

	/* SEARCH ENGINE */

	/* DROPDOWN MENU */
	.second-navbar {
		display: flex;
		justify-content: center;
		gap: 30px;
		padding: 2px;
		background-color: rgba(0, 0, 255, 0.6);
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
		margin: 10px;
		list-style: none;
		font-family: sans-serif;
		font-size: 13px;
		font-weight: bolder;
	}

	.dropdown {
		position: relative;
	}

	.dropdown-content {
		display: none;
	}

	.dropdown-content a {
		gap: 5px;
		text-align: center;
		display: flex;
		margin: 10px;
		margin-left: -10px;
		font-size: 13px;
		font-weight: 500;
		position: relative;
	}

	.dropdown-content a:hover {
		text-decoration: underline;
	}

	.nama-second-navbar {
		font-size: 13px;
	}

	/* DROPDOWN MENU */

	.featured-and-recommended-desktop {
		display: block;
	}

	.featured-and-recommended-mobile {
		display: none;
	}

	/* FEATURED & RECOMMENDED DESKTOP */
	.wrapper-newreleases-desktop {
		display: flex;
		overflow-x: auto;
		padding-top: 5px;
		padding-left: 5px;
		padding-right: 15px;
		padding-bottom: 15px;
		margin: 10px;
		gap: 15px;
	}

	.wrapper-newreleases-desktop::-webkit-scrollbar {
		height: 8px;
	}

	.wrapper-newreleases-desktop::-webkit-scrollbar-thumb {
		background-color: #2A475E;
		border-radius: 3px;
	}

	.container-newreleases-desktop {
		display: flex;
		max-width: 810px;
		background-color: #1b2838;
		padding-right: 10px;
		box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
	}

	.featured {
		flex: 2;
		max-width: 100%;
	}

	.featured img {
		width: 510px;
		display: block;
		box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
	}

	.recommended {
		flex: 1;
		margin-left: 10px;
	}

	.recommended h2 {
		font-size: 17px;
		margin-bottom: 10px;
		color: white;
		font-weight: normal;
		cursor: default;
	}

	.recommended h3 {
		font-size: 16px;
		font-weight: normal;
		color: white;
		margin-top: 4px;
		cursor: default;
	}

	.recommended h4 {
		font-size: 8px;
		font-weight: normal;
		color: white;
		margin-top: -5px;
		cursor: default;
	}

	.recommended p {
		font-size: 10px;
		background: #4a4c4f;
		padding: 4px;
		margin-top: -13px;
		width: max-content;
		color: white;
		border-radius: 3px;
		cursor: default;
	}

	.thumbnails {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
		margin-top: 20px;
	}

	.thumbnails img {
		width: 100px;
		cursor: pointer;
		box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
	}

	/* FEATURED & RECOMMENDED DESKTOP */

	/* SPECIAL OFFERS */
	.container-specialoffers {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 10px;
		overflow-x: scroll;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		margin: 10px;
		padding-bottom: 15px;
		padding-right: 15px;
		padding-top: 5px;
		position: relative;
	}

	.container-specialoffers::-webkit-scrollbar {
		height: 8px;
	}

	.container-specialoffers::-webkit-scrollbar-thumb {
		background-color: #2A475E;
		border-radius: 3px;
	}

	.double-card {
		display: grid;
		grid-gap: 10px;
	}

	.card-specialoffers {
		background: linear-gradient(to bottom, #2a5f88, #58a7c9);
		width: 320px;
		height: 220px;
		box-shadow: 3px 3px 3px #171a21;
		transition: transform 0.3s ease;
		font-family: sans-serif;
		cursor: pointer;
		overflow: visible;
		position: relative;
	}

	.card-specialoffers-single {
		background: linear-gradient(to bottom, #2a5f88, #58a7c9);
		width: 320px;
		height: auto;
		box-shadow: 3px 3px 3px #171a21;
		transition: transform 0.3s ease;
		font-family: sans-serif;
		cursor: pointer;
		overflow: visible;
		position: relative;
	}

	.card-image {
		height: auto;
		width: 100%;
		display: block;
	}

	.card-content-specialoffers {
		padding: 15px;
		text-align: left;
	}

	.button-freetoread {
		width: max-content;
		padding: 6px;
		font-size: 16px;
		color: white;
		font-weight: bold;
		margin-top: -10px;
		margin-left: -10px;
	}

	.button-comingsoon {
		background: linear-gradient(to bottom, #627a05, #819c13);
		width: max-content;
		padding: 6px;
		font-size: 16px;
		color: yellow;
		font-weight: 500;
		margin-top: -10px;
		margin-left: -10px;
	}

	.button-nowavailable {
		background: linear-gradient(to bottom, #627a05, #819c13);
		width: max-content;
		padding: 6px;
		font-size: 18px;
		color: yellow;
		font-weight: 500;
		margin-top: -10px;
		margin-bottom: 5px;
		margin-left: -5px;
	}

	.date-released {
		width: max-content;
		padding: 6px;
		font-size: 13px;
		color: white;
		font-weight: normal;
		margin-top: -20px;
		margin-left: -10px;
	}

	/* Popup card yang muncul di hover-top */
	.hover-card-top {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		/* Appear next to the card */
		width: auto;
		/* Larger width */
		background-color: white;
		padding: 10px;
		color: #171a21;
		z-index: 999;
		/* Higher z-index to ensure it appears on top */
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}

	.hover-card-top img {
		width: 100%;
		height: auto;
		margin-top: 5px;
	}

	.hover-card-top h1 {
		margin-top: -3px;
		font-size: 16px;
		font-weight: 700;
	}

	.hover-card-top h2 {
		margin-top: -10px;
		font-size: 11px;
		font-weight: normal;
	}

	.hover-card-top h3 {
		font-size: 14px;
		font-weight: 500;
	}

	/* Popup card yang muncul di hover-bottom */
	.hover-card-bottom {
		display: none;
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		/* Appear next to the card */
		width: auto;
		/* Larger width */
		background-color: white;
		padding: 10px;
		color: #171a21;
		z-index: 999;
		/* Higher z-index to ensure it appears on top */
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}

	.hover-card-bottom img {
		width: 100%;
		height: auto;
		margin-top: 5px;
	}

	.hover-card-bottom h1 {
		margin-top: -3px;
		font-size: 16px;
		font-weight: 700;
	}

	.hover-card-bottom h2 {
		margin-top: -10px;
		font-size: 11px;
		font-weight: normal;
	}

	.hover-card-bottom h3 {
		font-size: 14px;
		font-weight: 500;
	}

	.tag {
		display: inline-block;
		background-color: #717579;
		color: white;
		padding: 3px 7px;
		border-radius: 2px;
		gap: 5px;
		font-size: 10px;
	}

	/* Setiap slide */
	.slide {
		display: none;
	}

	/* Slide aktif akan terlihat dengan opacity penuh */
	.active-slide {
		display: block;
	}

	/* SPECIAL OFFERS */

	.grid {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}

	/* */
	.card-item img {
		width: 130px;
		height: auto;
		margin-right: 20px;
	}

	/* */

	/* UPDATE AND OFFERS */
	.container-updatesandoffers {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		margin: 10px;
		gap: 10px;
		padding-bottom: 15px;
		padding-top: 5px;
		overflow: visible;
	}

	.container-updatesandoffers::-webkit-scrollbar {
		height: 8px;
	}

	.container-updatesandoffers::-webkit-scrollbar-thumb {
		background-color: #2A475E;
		border-radius: 3px;
	}

	.double-card-updatesandoffers {
		display: grid;
		grid-gap: 10px;
	}

	.card-updatesandoffers {
		background: linear-gradient(to bottom, #2b4e63, #2b4d6344);
		width: 240px;
		height: auto;
		box-shadow: 3px 3px 3px #171a21;
		transition: transform 0.3s ease;
		font-family: sans-serif;
		cursor: pointer;
		overflow: visible;
		position: relative;
	}

	.card-image {
		height: auto;
		width: 100%;
		display: block;
	}

	.card-content-updatesandoffers {
		padding: 15px;
		text-align: left;
	}

	.button-nowavailable {
		background: linear-gradient(to bottom, #627a05, #819c13);
		width: max-content;
		padding: 5px;
		font-size: 20px;
		color: yellow;
		font-weight: 500;
		margin-top: auto;
		margin-bottom: auto;
		margin-left: -5px;
	}

	/* Popup card yang muncul di hover */
	.hover-card {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		/* Appear next to the card */
		width: auto;
		/* Larger width */
		background-color: white;
		padding: 10px;
		color: #171a21;
		z-index: 999;
		/* Higher z-index to ensure it appears on top */
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}

	.hover-card img {
		width: 100%;
		height: auto;
		margin-top: 5px;
	}

	.hover-card h1 {
		margin-top: -3px;
		font-size: 16px;
		font-weight: 700;
	}

	.hover-card h2 {
		margin-top: -10px;
		font-size: 11px;
		font-weight: normal;
	}

	.hover-card h3 {
		font-size: 14px;
		font-weight: 500;
	}

	.tag {
		display: inline-block;
		background-color: #717579;
		color: white;
		padding: 3px 7px;
		border-radius: 2px;
		gap: 5px;
		font-size: 10px;
	}

	/* Setiap slide */
	.slide {
		display: none;
	}

	/* Slide aktif akan terlihat dengan opacity penuh */
	.active-slide {
		display: block;
	}

	/* UPDATE AND OFFERS */
}

/* LAPTOP */
@media (min-width: 769px) and (max-width: 1024px) {
	.featured-and-recommended-desktop {
		display: block;
	}

	.featured-and-recommended-mobile {
		display: none;
	}

	.nama-nav {
		font-weight: normal;
		margin-bottom: 20px;
	}

	.grid {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}
}

/* DESKTOP */
@media (min-width: 1025px) {

	/* HAMBURGER NAVBAR */
	.mobile-menu {
		font-size: 17px;
	}

	.menu-toggle {
		display: flex;
		flex-direction: column;
		width: 26px;
		cursor: pointer;
		padding: 5px;
		margin-top: -31px;
		margin-left: -7px;
	}

	.menu-content ul li {
		padding: 9px;
	}

	.submenu {
		font-size: 14px;
	}

	/* HAMBURGER NAVBAR */

	/* FOOTER */
	.logo-footer {
		width: 70px;
		height: auto;
	}

	.footer {
		font-size: 8px;
	}

	/* FOOTER */

	.nama-nav {
		font-weight: normal;
		margin-bottom: 20px;
	}

	.grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* DESKTOP 1920px */
@media (min-width: 1920px) {
	.nama-nav {
		font-weight: normal;
		margin-bottom: 20px;
	}

	.grid-container {
		max-width: 2000px;
		width: 100%;
		padding-bottom: 15px;
	}

	.grid {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}

@media only screen and (max-width: 926px) and (orientation: landscape) {
	.featured-and-recommended-desktop {
		display: none;
	}

	.featured-and-recommended-mobile {
		display: block;
	}

	.menu-content {
		height: 100vh;
		overflow-y: scroll;
	}

	.mobile-menu {
		overflow-y: hidden;
	}

	.menu-toggle {
		position: relative;
		top: 0;
		margin-top: -37px;
		margin-left: -7px;
	}

	.footer {
		margin-top: 30px;
	}
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {

	/* SEARCH ENGINE */
	#searchInput {
		width: 95%;
		background-color: #2a475e;
		border-radius: 3px;
		box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
		padding: 10px;
		border: 1px solid rgb(128, 128, 128);
		margin-top: auto;
		margin-bottom: auto;
		color: #666464;
		font-style: italic;
	}

	#btn-search {
		background-color: rgba(0, 0, 0, 0);
		border: none;
		width: 27px;
		border-radius: 3px;
		padding: 3px;
		margin: -33px;
	}

	.logo-search {
		width: 13px;
		height: 13px;
	}

	/* SEARCH ENGINE */

	/* DROPDOWN MENU */
	.second-navbar {
		display: flex;
		justify-content: center;
		gap: 30px;
		padding: 2px;
		background-color: rgba(0, 0, 255, 0.6);
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
		margin: 10px;
		list-style: none;
		font-family: sans-serif;
		font-size: 13px;
		font-weight: bolder;
	}

	.dropdown {
		position: relative;
	}

	.dropdown-content {
		display: none;
	}

	.dropdown-content a {
		gap: 5px;
		text-align: center;
		display: flex;
		margin: 10px;
		margin-left: -10px;
		font-size: 13px;
		font-weight: 500;
		position: relative;
	}

	.dropdown-content a:hover {
		text-decoration: underline;
	}

	.nama-second-navbar {
		font-size: 13px;
	}

	/* DROPDOWN MENU */

	.featured-and-recommended-desktop {
		display: block;
	}

	.featured-and-recommended-mobile {
		display: none;
	}

	/* FEATURED & RECOMMENDED DESKTOP */
	.wrapper-newreleases-desktop {
		display: flex;
		overflow-x: auto;
		padding-top: 5px;
		padding-left: 5px;
		padding-right: 15px;
		padding-bottom: 15px;
		margin: 10px;
		gap: 15px;
	}

	.wrapper-newreleases-desktop::-webkit-scrollbar {
		height: 8px;
	}

	.wrapper-newreleases-desktop::-webkit-scrollbar-thumb {
		background-color: #2A475E;
		border-radius: 3px;
	}

	.container-newreleases-desktop {
		display: flex;
		max-width: 1200px;
		background-color: #1b2838;
		padding-right: 10px;
		box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
	}

	.featured {
		flex: 2;
		max-width: 100%;
	}

	.featured img {
		width: 700px;
		display: block;
		box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
	}

	.recommended {
		flex: 1;
		margin-left: 10px;
	}

	.recommended h2 {
		font-size: 19px;
		margin-bottom: 10px;
		color: white;
		font-weight: normal;
		cursor: default;
	}

	.recommended h3 {
		font-size: 18px;
		font-weight: normal;
		color: white;
		margin-top: 4px;
		cursor: default;
	}

	.recommended h4 {
		font-size: 10px;
		font-weight: normal;
		color: white;
		margin-top: -5px;
		cursor: default;
	}

	.recommended p {
		font-size: 12px;
		background: #4a4c4f;
		padding: 4px;
		margin-top: -13px;
		width: max-content;
		color: white;
		border-radius: 3px;
		cursor: default;
	}

	.thumbnails {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
		margin-top: 20px;
	}

	.thumbnails img {
		width: 160px;
		cursor: pointer;
		box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
	}

	/* FEATURED & RECOMMENDED DESKTOP */

	/* SPECIAL OFFERS */
	.container-specialoffers {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 10px;
		overflow-x: scroll;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		margin: 10px;
		padding-bottom: 15px;
		padding-right: 15px;
		padding-top: 5px;
		position: relative;
	}

	.container-specialoffers::-webkit-scrollbar {
		height: 8px;
	}

	.container-specialoffers::-webkit-scrollbar-thumb {
		background-color: #2A475E;
		border-radius: 3px;
	}

	.double-card {
		display: grid;
		grid-gap: 10px;
	}

	.card-specialoffers {
		background: linear-gradient(to bottom, #2a5f88, #58a7c9);
		width: 320px;
		height: 220px;
		box-shadow: 3px 3px 3px #171a21;
		transition: transform 0.3s ease;
		font-family: sans-serif;
		cursor: pointer;
		overflow: visible;
		position: relative;
	}

	.card-specialoffers-single {
		background: linear-gradient(to bottom, #2a5f88, #58a7c9);
		width: 320px;
		height: auto;
		box-shadow: 3px 3px 3px #171a21;
		transition: transform 0.3s ease;
		font-family: sans-serif;
		cursor: pointer;
		overflow: visible;
		position: relative;
	}

	.card-image {
		height: auto;
		width: 100%;
		display: block;
	}

	.card-content-specialoffers {
		padding: 15px;
		text-align: left;
	}

	.button-freetoread {
		width: max-content;
		padding: 6px;
		font-size: 16px;
		color: white;
		font-weight: bold;
		margin-top: -10px;
		margin-left: -10px;
	}

	.button-comingsoon {
		background: linear-gradient(to bottom, #627a05, #819c13);
		width: max-content;
		padding: 6px;
		font-size: 16px;
		color: yellow;
		font-weight: 500;
		margin-top: -10px;
		margin-left: -10px;
	}

	.button-nowavailable {
		background: linear-gradient(to bottom, #627a05, #819c13);
		width: max-content;
		padding: 6px;
		font-size: 18px;
		color: yellow;
		font-weight: 500;
		margin-top: -10px;
		margin-bottom: 5px;
		margin-left: -5px;
	}

	.date-released {
		width: max-content;
		padding: 6px;
		font-size: 13px;
		color: white;
		font-weight: normal;
		margin-top: -20px;
		margin-left: -10px;
	}

	/* Popup card yang muncul di hover-top */
	.hover-card-top {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		/* Appear next to the card */
		width: auto;
		/* Larger width */
		background-color: white;
		padding: 10px;
		color: #171a21;
		z-index: 999;
		/* Higher z-index to ensure it appears on top */
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}

	.hover-card-top img {
		width: 100%;
		height: auto;
		margin-top: 5px;
	}

	.hover-card-top h1 {
		margin-top: -3px;
		font-size: 16px;
		font-weight: 700;
	}

	.hover-card-top h2 {
		margin-top: -10px;
		font-size: 11px;
		font-weight: normal;
	}

	.hover-card-top h3 {
		font-size: 14px;
		font-weight: 500;
	}

	/* Popup card yang muncul di hover-bottom */
	.hover-card-bottom {
		display: none;
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		/* Appear next to the card */
		width: auto;
		/* Larger width */
		background-color: white;
		padding: 10px;
		color: #171a21;
		z-index: 999;
		/* Higher z-index to ensure it appears on top */
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}

	.hover-card-bottom img {
		width: 100%;
		height: auto;
		margin-top: 5px;
	}

	.hover-card-bottom h1 {
		margin-top: -3px;
		font-size: 16px;
		font-weight: 700;
	}

	.hover-card-bottom h2 {
		margin-top: -10px;
		font-size: 11px;
		font-weight: normal;
	}

	.hover-card-bottom h3 {
		font-size: 14px;
		font-weight: 500;
	}

	.tag {
		display: inline-block;
		background-color: #717579;
		color: white;
		padding: 3px 7px;
		border-radius: 2px;
		gap: 5px;
		font-size: 10px;
	}

	/* Setiap slide */
	.slide {
		display: none;
	}

	/* Slide aktif akan terlihat dengan opacity penuh */
	.active-slide {
		display: block;
	}

	/* SPECIAL OFFERS */

	.grid {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}

	/* */
	.card-item img {
		width: 130px;
		height: auto;
		margin-right: 20px;
	}

	/* */

	/* UPDATE AND OFFERS */
	.container-updatesandoffers {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		margin: 10px;
		gap: 10px;
		padding-bottom: 15px;
		padding-top: 5px;
		overflow: visible;
	}

	.container-updatesandoffers::-webkit-scrollbar {
		height: 8px;
	}

	.container-updatesandoffers::-webkit-scrollbar-thumb {
		background-color: #2A475E;
		border-radius: 3px;
	}

	.double-card-updatesandoffers {
		display: grid;
		grid-gap: 10px;
	}

	.card-updatesandoffers {
		background: linear-gradient(to bottom, #2b4e63, #2b4d6344);
		width: 240px;
		height: auto;
		box-shadow: 3px 3px 3px #171a21;
		transition: transform 0.3s ease;
		font-family: sans-serif;
		cursor: pointer;
		overflow: visible;
		position: relative;
	}

	.card-image {
		height: auto;
		width: 100%;
		display: block;
	}

	.card-content-updatesandoffers {
		padding: 15px;
		text-align: left;
	}

	.button-nowavailable {
		background: linear-gradient(to bottom, #627a05, #819c13);
		width: max-content;
		padding: 5px;
		font-size: 20px;
		color: yellow;
		font-weight: 500;
		margin-top: auto;
		margin-bottom: auto;
		margin-left: -5px;
	}

	/* Popup card yang muncul di hover */
	.hover-card {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		/* Appear next to the card */
		width: auto;
		/* Larger width */
		background-color: white;
		padding: 10px;
		color: #171a21;
		z-index: 999;
		/* Higher z-index to ensure it appears on top */
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}

	.hover-card img {
		width: 100%;
		height: auto;
		margin-top: 5px;
	}

	.hover-card h1 {
		margin-top: -3px;
		font-size: 16px;
		font-weight: 700;
	}

	.hover-card h2 {
		margin-top: -10px;
		font-size: 11px;
		font-weight: normal;
	}

	.hover-card h3 {
		font-size: 14px;
		font-weight: 500;
	}

	.tag {
		display: inline-block;
		background-color: #717579;
		color: white;
		padding: 3px 7px;
		border-radius: 2px;
		gap: 5px;
		font-size: 10px;
	}

	/* Setiap slide */
	.slide {
		display: none;
	}

	/* Slide aktif akan terlihat dengan opacity penuh */
	.active-slide {
		display: block;
	}

	/* UPDATE AND OFFERS */
}